table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #116d82;
    margin-left: auto;
    margin-right: auto;	
    
}
th, td {
    padding: 5px;
    border-style: dotted;
}
th {
    color: red;
}
body {
    font-family: "Arial";
    text-align: center;
    background-color: lightgray;
    color: maroon;
    
}
.centr {
   text-align: center; 
}
.img {
    width: 400px; 
    height: 266px;
}


.inter {
    line-height: 30px;
    
}
h3 {
    text-shadow: 3px 3px grey;
}
dl > dt {
    color: white;
}
dt:first-letter {
  font-weight: bold;
  font-style: italic;  
}
h1 {
    font-size: 30px;
}
.link:link {
    color: darkblue;
}
.link:visited {
    color: red;
}
.link:hover {
    font-size: 20px;
}
.link:active {
    color: white;
}
.shrek {
    text-transform: uppercase;
}
a[href*="youtube.com"] {
    font-weight: bold;
}
.dot {
    color: white; 
    
}
.img2 {
    width: 200px;
    height: 285px;
}
.banner {
    margin-left: auto;
    margin-right: auto;	
    display: block;
    max-width: 100%;
    height: auto;
    background-size: cover;
}
.left {
    text-align: left;
}
.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    /*komentarz*/
}
p {
    text-indent: 20px;
    background-color: beige;
    font-family: "Courier New";
    
}
.img3 {
    width: 100px;
    height: 144px;
}

ul.imgmovies {
    list-style-image: url("/img/film.png");
}